.title-principal {
    text-align: center;
    color: #00ffff;
}
.p-principal {
    text-align: center;
    color: #8A2E8A;
    font-size: 150px;
}
.f-principal {
    text-align: center;
    color: #D2D2D2;
}